.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  margin-left: 50px;
  cursor: pointer;
  transition: transform .3s ease-in-out;
  &:hover {
   transform: scale(1.2)
  }
}
